<body role="document">
  <div class="container" role="main">
    <div class="page-header">
      <h1>Software Store</h1>
    </div>

    <p>
      <%= link_to 'Catalog', controller: 'categories' %>
    </p>
  </div>
</body>
